.introName {
    margin: 100px 0 0 265px;
    font-family: BMHANNAPro;
    font-size: 75px;
    color: black;
}

.introMain {
    position: relative;
    margin: 100px auto;
    width: 1400px;
}

.introMain img {
    width: 600px;
    height: 400px;
}

.introMain video {
    width: 600px;
    height: 400px;
}

.introMain h2 {
    position: absolute;
    top: 80px;
    left: 720px;
    font-size: 40px;
    color: #ffa9b8;
    font-family: BMHANNAPro;
}

.introMain span {
    position: absolute;
    top: 145px;
    left: 825px;
    color: #8bd2ea;
    font-size: 31px;
    font-family: BMHANNAPro;
}

.introSub {
    position: relative;
    margin: 100px auto;
    width: 1400px;
    height: 400px;
}

.introSub img {
    float: right;
    width: 600px;
    height: 400px;
}

.introSub h2 {
    position: absolute;
    top: 65px;
    left: 80px;
    font-size: 40px;
    color: #ffa9b8;
    font-family: BMHANNAPro;
}

.introSub span {
    position: absolute;
    top: 120px;
    left: 0px;
    width: 600px;
    color: #8bd2ea;
    font-size: 31px;
    font-family: BMHANNAPro;
}

