<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>heritageDetail</title>
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div class="content" th:object="${heritage}">
    <div th:replace="fragments/navbar.html :: fragment-navbar"></div>
    <script src="js/heritageDetail.js"></script>

    <h1 id="heritageName" th:text="*{getCcbaMnm1()}">name</h1>
    <div class="ImgDiv">
        <img th:src="*{getImageUrl()}">
    </div>

    <div id="heritageContent" th:text="*{getContent()}"></div>
    <div id="reviewContent">
        <div>
            <input type="hidden" name="heritage" id="heritageInput" th:value="${heritage.getId()}">
            <textarea type="text" name="reviewInput" id="reviewInput"></textarea>
            <input type="button" id="reviewBtn" value="등록">
        </div>
        <div id="reviewBody">
            <div th:each="review : ${reviewList}">
                <span>작성자 : </span><span th:text="${review.getWriter()}"></span>
                <span style="font-size: 16px; margin-left: 30px;" th:text="${review.getCreated_at()}"></span><br>
                <span>내용 : </span><span th:text="${review.getContent()}"></span>
            </div>
        </div>
    </div>
</div>

</body>
</html>